.publish-container {
  width: 705px;
  margin: auto;

  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 765px) {
  .publish-container {
    width: 88%;
  }
}

@media (max-width: 665px) {
  .publish-container {
    width: 100%;
  }
}
