.publish-container {
  width: 615px;
  margin: auto;
}

@media (max-width: 765px) {
  .publish-container {
    width: 88%;
  }
}

@media (max-width: 665px) {
  .publish-container {
    width: 100%;
  }
}
