section {
  position: relative;
}

.container-fluid {
  padding: 2% 13% 6%;
}

/* Hero section */
#hero {
  color: #086a9b !important;
}

#hero .container-fluid {
  background: url("/assets/img/landing-header.png") repeat-x center bottom,
    linear-gradient(180deg, #fff, #f4f8fc calc(100%), #fff calc(100%), #fff);
}

.heading-left-column {
  padding-right: 0 !important;
}

#hero .title {
  font-weight: 700;
  line-height: 1.25;
}

.subtitle {
  font-weight: 400;
  line-height: 1.17;
}

.heading-right-column {
  position: relative;
}

.hero-img {
  width: 65%;
  position: absolute;
  top: 25%;
  right: 25%;
  border-radius: 50%;
}

.hero-register-btn {
  font-weight: 500;
  border-radius: 8px;
  background-color: #f2357b;
  border: none;
  padding: 0.75rem 1rem 0.75rem 0.8rem;
  color: #fff !important;
}

/* products section */

#products {
  padding: 120px;
}

#products .title {
  color: #086a9b;
  text-align: center;
}

#products .nav-link {
  color: black;
}

#products .nav-pills button.active {
  color: white;
  background-color: #f2357b !important;
  font-size: 16px;
}
