<section class="heading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h1 class="tittle fw-bold">Encuentra a tu próximo socio de negocios</h1>
        <h2 class="mt-3 subtitle">
          Somos una web respaldada por el BCP que busca ayudarte a encontrar
          proveedores y clientes manera <strong>segura y gratuita.</strong>
        </h2>
        <button
          type="button"
          class="btn btn-outline-dark btn-lg btn-dark-reverse-outline"
        >
          <i class="fab fa-apple"></i> Download
        </button>
        <button type="button" class="btn btn-outline-light btn-lg">
          <i class="fab fa-google-play"></i> Download
        </button>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12" style="position: relative">
        <h1>imagen</h1>
      </div>
    </div>
  </div>
</section>

<section class=>

</section>
