.header {
  background-color: var(--primary);
}

.header .return-icon {
  color: white;
}

.header .title {
  color: white;
}

.header .navbar {
  background-color: var(--primary) !important;
}

.header .btn-primary {
  border-radius: 8px;
  border-color: transparent;
  color: white;
  background-color: var(--complementary);
}

.header .btn-secondary {
  border-radius: 8px;
  border-color: white;
  color: white;
  background-color: transparent;
}
.nav-tabs-row,
.nav-tabs-row .col,
.nav-tabs {
  background-color: var(--primary);
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  color: white;
}

.nav-tabs button:hover {
  border-color: transparent;
}

.nav-tabs button.active {
  border-color: #f4f8fc;
  color: black;
  background-color: #f4f8fc !important;
  font-size: 16px;
}

.date-created {
  color: white;
  position: relative;
  top: 96px;
  right: 18px;
}

/* Content Section */

.tab-content {
  color: #0b2142;
}

.tab-content fa-icon {
  color: #0b2142;
}

.icon-text-title {
  font-weight: 400;
}

.icon-text {
  font-weight: 600;
}
