<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{errorMessage}}
</div>
<div *ngIf="registered" class="alert alert-success" role="alert">
    {{name}} Registrado Correctamente
</div>
<app-stepper-header [steps]="steps" [currentStep]="currentStep"></app-stepper-header>
<div class="stepper-content-container container d-flex flex-column">
    <div class="row justify-content-center ">
        <form [formGroup]="form" (ngSubmit)="registerService()" class="py-4">
            <label for="" class="form-label fs-5 fw-bold">¿Cuales son los datos de su Servicio?</label>
            <div class="alert alert-danger" *ngIf="showErrorServiceMessage">
                <p class="m-0">Debe ingresar todos los datos.</p>
            </div>
            <div class="row mb-3 mt-1">
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                            formControlName="nameService">
                        <label for="floatingInput">Ponle un titulo</label>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating ">
                        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com"
                            formControlName="priceService">
                        <label for="floatingInput">Ponle un Precio (Soles)</label>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-2">
                <textarea formControlName="descriptionService" class="form-control" id="floatingDescripcion"
                    placeholder="Contraseña"></textarea>
                <label for="floatingDescripcion">Descripcion de servicio</label>
            </div>

        </form>
    </div>
    <div class="mt-auto pb-2">
        <app-stepper-footer [steps]="steps" [currentStep]="currentStep" [valid]="isValidForm()"
            (onStep)="onStep($event)" (onPublish)="registerService()"></app-stepper-footer>
    </div>
</div>