<nav class="navbar sticky-top navbar-light navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">App logo</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fw-normal nav-text" href="#"
            >Preguntas frecuentes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-login-btn" href="#"> Iniciar sesion </a>
        </li>
        <li class="nav-item">
          <a class="navbar-login-btn navbar-register-btn nav-link" href="#">
            Registrate gratis
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
