.container-fluid {
  padding: 1% 13%;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}

.shadow {
  box-shadow: 0 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  margin-left: 0 !important ;
}
.nav-text:hover {
  color: #f2357b !important;
}

.nav-link {
  color: #4e545c !important;
  display: block;
  padding: 0.4rem 0.7rem !important;
}

.navbar-login-btn {
  background-color: transparent;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid #4e545c;
}

.navbar-register-btn {
  background-color: #f2357b;
  border-color: transparent;
  color: #fff !important;
}

/* Todo: Editar estilos para el boton de profile */

.profile-icon {
  display: inline-block;
  font-size: 20px;
}

.profile-btn {
  color: #1e1f20;
}

@media (max-width: 768px) {
  .navbar-nav > li {
    margin: 0.2rem 0;
  }
  .navbar-login-btn {
    margin-left: 0;
  }
  .nav-text {
    padding-left: 0 !important;
  }
}
