section {
    background-color: var(--primary);
    color: white;
    text-align: center;
    border-radius: 30px;
  }
  .carousel-item {
    padding: 7% 15%;
  }
  
  .carousel-item h1 {
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .carousel-item h1 span {
    color: var(--complementary);
  }
  
  .carousel-item p {
    color: white;
    font-weight: 500;
    font-size: 20px;
  }
  