<section id="change-email">
    <div class="container">
        <div class="change-email-card">
            <h1 class="title">Cambiar email</h1>
            <div class="row">
                <div class="col-auto">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                            value="mdo@example.com">
                        <label for="floatingInputGrid">Email address</label>
                    </div>
                    <p>Para modificar tu usuario, ten en cuenta lo siguiente:</p>
                    <ul>
                        <li>No debe tener palabras inapropiadas o vulgares</li>
                        <li>Debe tener 1 espacio solamente</li>
                        <li>Debe tener entre 3 y 50 caracteres</li>
                    </ul>
                    <button>Modificar</button>
                    <button>Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</section>