<div class="container-md">
    <div class="title-container mt-2">
        <h4 class="fw-bold text-center mb-0"> Mis Servicios </h4>
        <fa-icon [icon]="faAngleDown" class="fa-2x angle-down-icon d-block text-center"></fa-icon>
    </div>
    <div class="container px-4">
        <div class="row  row-cols-1 row-cols-md-2  row-cols-lg-3 gx-5 gy-5">
            <div class="col">
                <div class="card mx-auto add-new-card">
                    <div class="card-body text-center">
                        <h4 class="fw-bold text-center fs-5"> Agregar Servicio </h4>
                        <a [routerLink]="['/dashboard/publish/service']" class="d-block mt-3">
                            <fa-icon [icon]="faCirclePlus" class="fa-3x add-icon"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col" *ngFor="let service of services">
                <div class="card mx-auto">
                    <div class="card-body">
                        <h5 class="fw-bold mb-1 fs-6 mt-1">{{service.nameService}}</h5>
                        <p class="card-text my-2 fs-6">{{service.descriptionService}}</p>
                        <div class="text-center more-btn-container">
                            <button class="btn btn-primary">Ver Servicio</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>