.angle-down-icon {
  color: var(--primary);
}

.nav-link {
  min-width: 117px;
  color: black;
}

.nav-pills button.active {
  color: white;
  background-color: var(--complementary) !important;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--complementary);
  border-color: var(--complementary);
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.card {
  max-width: 18rem !important;
  min-height: 190px !important;
}

.add-new-card .card-body {
  border-radius: 8px;
  margin: 10px;
  border: dotted;
  border-color: var(--primary);
}

.add-new-card fa-icon {
  color: var(--complementary);
}
.more-btn-container {
  width: 100%;
  left: 0;
  bottom: 10px;
  position: absolute;
}
