<div class="container-md px-0">
    <div class="title-container mt-4">
        <h4 class="fw-bold text-center mb-0"> Mis Publicaciones </h4>
        <fa-icon [icon]="faAngleDown" class="fa-2x angle-down-icon d-block text-center"></fa-icon>
    </div>

    <ul class="nav nav-pills justify-content-center mt-1 mb-5" id="pills-tab" role="tablist">
        <li class="nav-item me-2" role="presentation">
            <button class="nav-link active" id="pills-products-tab" data-bs-toggle="pill"
                data-bs-target="#pills-products" type="button" role="tab" aria-controls="pills-products"
                aria-selected="true">
                Telas
            </button>
        </li>
        <li class="nav-item ms-2" role="presentation">
            <button class="nav-link" id="pills-orders-tab" data-bs-toggle="pill" data-bs-target="#pills-orders"
                type="button" role="tab" aria-controls="pills-orders" aria-selected="false">
                Avio
            </button>
        </li>
        <li class="nav-item ms-2" role="presentation">
            <button class="nav-link" id="pills-services-tab" data-bs-toggle="pill" data-bs-target="#pills-services"
                type="button" role="tab" aria-controls="pills-services" aria-selected="false">
                Servicios
            </button>
        </li>
    </ul>

    <!-- Content -->
    <div class="tab-content" id="pills-tabContent">

        <!--   Telas   -->
        <div class="tab-pane fade show active" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
            <div class="container px-4">
                <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3 gx-5 gy-5">
                    <div class="col">
                        <div class="card mx-auto add-new-card">
                            <div class="card-body text-center">
                                <h4 class="fw-bold text-center fs-5"> Agregar Tela </h4>
                                <a [routerLink]="['/dashboard/publish/supply']" class="d-block mt-3">
                                    <fa-icon [icon]="faCirclePlus" class="fa-3x add-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" *ngFor="let fabric of fabrics">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="fw-bold mb-1 fs-6 mt-1">{{fabric.nameFabric}}</h5>
                                <p class="card-text my-2 fs-6">{{fabric.descriptionFabric}}</p>
                                <p class="my-2">Precio <br> <strong>s/ {{fabric.priceFabric}}</strong></p>
                                <div class="text-center">
                                    <button [routerLink]="['./fabric', fabric.idFabric]" class="btn btn-primary">Ver
                                        tela</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--   Avios   -->
        <div class="tab-pane fade" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
            <div class="container px-4">
                <div class="row row-cols-1 row-cols-md-2  row-cols-lg-3 gx-5 gy-5">
                    <div class="col">
                        <div class="card mx-auto add-new-card">
                            <div class="card-body text-center">
                                <h4 class="fw-bold text-center fs-5"> Agregar Avio </h4>
                                <a [routerLink]="['/dashboard/publish/supply']" class="d-block mt-3">
                                    <fa-icon [icon]="faCirclePlus" class="fa-3x add-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" *ngFor="let accessory of accessories">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="fw-bold fs-6 mb-1">{{accessory.nameAccessory}}</h5>
                                <p class="card-text my-2 ">{{accessory.descriptionAccessory}}</p>
                                <p class="my-2">Precio <br> <strong>s/ {{accessory.priceAccesory}}</strong></p>
                                <div class="text-center">
                                    <button [routerLink]="['./accessory', accessory.idAccessory]"
                                        class="btn btn-primary">Ver Avio</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--   Servicios   -->
        <div class="tab-pane fade" id="pills-services" role="tabpanel" aria-labelledby="pills-services-tab">
            <div class="container px-4">
                <div class="row  row-cols-1 row-cols-md-2  row-cols-lg-3 gx-5 gy-5">
                    <div class="col">
                        <div class="card mx-auto add-new-card">
                            <div class="card-body text-center">
                                <h4 class="fw-bold text-center fs-5"> Agregar Servicio </h4>
                                <a [routerLink]="['/dashboard/publish/service']" class="d-block mt-3">
                                    <fa-icon [icon]="faCirclePlus" class="fa-3x add-icon"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col" *ngFor="let service of services">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h5 class="fw-bold mb-1 fs-6 mt-1">{{service.nameService}}</h5>
                                <p class="card-text my-2 fs-6">{{service.descriptionService}}</p>
                                <div class="text-center more-btn-container">
                                    <button class="btn btn-primary mb-2"
                                        [routerLink]="['./services', service.idService]">Ver
                                        Servicio</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
