#login {
  background-color: #eee;
  padding: 3.3rem;
}

p {
  font-size: 0.9rem;
}

a {
  color: #f2357b;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  display: block;
}

a:hover {
  text-decoration: underline;
}

label {
  color: #8095ac;
  font-size: 0.9rem !important;
}

.hello {
  margin-bottom: 0;
  color: #afbcca;
}

.login-card {
  margin: 0 auto;
  padding: 2.4rem;
  text-align: center;
  background-color: white;
  width: 24rem;
  border-radius: 6px;
}

@media (max-width: 1200px) {
  #login {
    background-color: #fff;
    padding: 1.5rem;
  }
  .login-card {
    border: none;
  }
}
