<div id="login">
    <div class="card login-card">
        <p class="hello">Hola</p>
        <h2 class="mb-4"><strong>Bienvenido</strong></h2>
        <p><strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. Voluptatum cumque corporis, at
            dicta iusto ducimus!
        </p>
        <form action="">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Usuario">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <p class="text-start">Tu contraseña debe contener mínimo 6 caracteres, una letra y un número</p>
            <a href="">Olvide mi contraseña</a>
            <button class="mt-3">Ingresar</button>
            <p class="mt-3">¿Aún no tienes una cuenta?</p>
            <a class="mt-2" href="">Registrate</a>
        </form>
    </div>
</div>