<div class="container-fluid">
  <div class="row flex-nowrap">

    <ng-container *ngIf="role == 'Comprador'; else elseBlock">
      <div class="shadow col-auto col-md-3 col-xl-2 px-sm-2 px-0">
        <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 px-3 min-vh-100">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
            <li class="nav-item mb-2 w-100">
              <a href="#submenu-explorar-comprador"
                 class="nav-link d-flex align-items-center align-items-sm-start px-0 sidebar-link"
                 data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu-explorar">
                <fa-icon [icon]="faExplorar" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline-flex">Explorar</span>
                <fa-icon [icon]="faChevronDown" class="d-none d-sm-inline-flex ms-auto right-icon"></fa-icon>
              </a>

              <ul class="flex-column ms-2 ms-md-3" id="submenu-explorar-comprador" data-bs-parent="#menu">
                <li class="w-100">
                  <a class="nav-link px-0"> <span class="d-none d-sm-inline">Opción</span> 1</a>
                </li>
              </ul>
            </li>


            <li class="nav-item mb-2 w-100">
              <a href="#submenu-publicar-comprador" class="nav-link d-flex align-items-center px-0 sidebar-link"
                 data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu-publicar">
                <fa-icon [icon]="faPublicar" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline">Publicar</span>
                <fa-icon [icon]="faChevronDown" class="d-none d-sm-inline-flex ms-auto right-icon"></fa-icon>
              </a>

              <ul class="flex-column ms-2 ms-md-3" id="submenu-publicar-comprador" data-bs-parent="#menu">
                <li class="w-100">
                  <a class="nav-link px-0"> <span class="d-none d-sm-inline">Producción
                    </span>1</a>
                </li>
              </ul>
            </li>

            <!-- <li class="nav-item mb-2 w-100">
              <a href="/home" class="nav-link d-inline-flex align-items-center px-0">
                <fa-icon [icon]="faProveedores" class="fa-fw me-sm-3"></fa-icon> <span class="d-none d-sm-inline">Mis
                  Proveedores</span>
              </a>
            </li>

            <li class="nav-item mb-2 w-100">
              <a href="#submenu-clientes" class="nav-link d-flex align-items-center px-0 sidebar-link"
                data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu-clientes">
                <fa-icon [icon]="faClientes" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline">Mis Clientes</span>
                <fa-icon [icon]="faChevronDown" class="d-none d-sm-inline-flex ms-auto right-icon"></fa-icon>
              </a>
              <ul class="collapse nav flex-column ms-2 ms-md-3" id="submenu-clientes" data-bs-parent="#menu">
                <li class="w-100">
                  <a href="/" class="nav-link px-0"> <span class="d-none d-sm-inline">Cliente</span> 1</a>
                </li>
                <li>
                  <a href="/home" class="nav-link px-0"> <span class="d-none d-sm-inline">Cliente</span> 2</a>
                </li>
              </ul>
            </li> -->

            <li class="nav-item mb-2 w-100">
              <a href="#submenu-publicaciones" class="nav-link d-flex align-items-center px-0 sidebar-link"
                 data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu-publicaciones">
                <fa-icon [icon]="faPublicaciones" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline">Mis Publicaciones</span>
                <fa-icon [icon]="faChevronDown" class="d-none d-sm-inline-flex ms-auto right-icon"></fa-icon>
              </a>
              <ul class="flex-column ms-2 ms-md-3" id="submenu-publicaciones" data-bs-parent="#menu">
                <li class="w-100">
                  <a class="nav-link px-0"> <span class="d-none d-sm-inline">Mis
                      producciones</span> 1</a>
                </li>
              </ul>
            </li>

            <li class="nav-item mb-2 w-100">
              <a class="nav-link d-inline-flex px-0 align-items-center">
                <fa-icon [icon]="faNotificaciones" class="fa-fw me-sm-3"></fa-icon> <span
                class="d-none d-sm-inline">Notificaciones</span>
              </a>
            </li>

            <li class="nav-item mb-2 w-100">
              <a class="nav-link d-inline-flex align-items-center px-0">
                <fa-icon [icon]="faAyuda" class="fa-fw me-sm-3"></fa-icon><span
                class="text-align-center d-none d-sm-inline">Ayuda</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </ng-container>

    <ng-template #elseBlock>
      <div class="shadow col-auto col-md-3 col-xl-2 px-sm-2 px-0">
        <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 px-3 min-vh-100">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
            <li class="nav-item mb-2 w-100">
              <a href="#submenu-explorar-vendedor"
                 class="nav-link d-flex align-items-center align-items-sm-start px-0 sidebar-link"
                 data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu-explorar-vendedor">
                <fa-icon [icon]="faExplorar" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline-flex">Explorar</span>
                <fa-icon [icon]="faChevronDown" class="d-none d-sm-inline-flex ms-auto right-icon"></fa-icon>
              </a>

              <ul class="collapse nav flex-column ms-2 ms-md-3" id="submenu-explorar-vendedor" data-bs-parent="#menu">
                <li class="w-100">
                  <a class="nav-link px-0"> <span class="d-none d-sm-inline">Opción</span> 1</a>
                </li>
              </ul>
            </li>

            <li class="nav-item mb-2 w-100">
              <a href="#submenu-publicar-vendedor" class="nav-link d-flex align-items-center px-0 sidebar-link"
                 data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu-publicar-vendedor">
                <fa-icon [icon]="faPublicar" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline">Publicar</span>
                <fa-icon [icon]="faChevronDown" class="d-none d-sm-inline-flex ms-auto right-icon"></fa-icon>
              </a>

              <ul class="flex-column ms-2 ms-md-3" id="submenu-publicar-vendedor" data-bs-parent="#menu">
                <li class="w-100">
                  <a [routerLink]="['./publish/service']" class="nav-link px-0"> <span
                    class="d-none d-sm-inline">Servicio
                    </span>1</a>
                </li>
                <li>
                  <a [routerLink]="['./publish/supply']" class="nav-link px-0"> <span
                    class="d-none d-sm-inline">Producto
                    </span>2</a>
                </li>
              </ul>
            </li>

            <!-- <li class="nav-item mb-2 w-100">
              <a href="/home" class="nav-link d-inline-flex align-items-center px-0">
                <fa-icon [icon]="faProveedores" class="fa-fw me-sm-3"></fa-icon> <span class="d-none d-sm-inline">Mis
                  Proveedores</span>
              </a>
            </li>

            <li class="nav-item mb-2 w-100">
              <a href="#submenu-clientes" class="nav-link d-flex align-items-center px-0 sidebar-link"
                data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu-clientes">
                <fa-icon [icon]="faClientes" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline">Mis Clientes</span>
                <fa-icon [icon]="faChevronDown" class="d-none d-sm-inline-flex ms-auto right-icon"></fa-icon>
              </a>
              <ul class="collapse nav flex-column ms-2 ms-md-3" id="submenu-clientes" data-bs-parent="#menu">
                <li class="w-100">
                  <a href="/" class="nav-link px-0"> <span class="d-none d-sm-inline">Cliente</span> 1</a>
                </li>
                <li>
                  <a href="/home" class="nav-link px-0"> <span class="d-none d-sm-inline">Cliente</span> 2</a>
                </li>
              </ul>
            </li> -->

            <li class="nav-item mb-2 w-100">
              <a routerLink="user/supplies" class="nav-link d-flex align-items-center px-0 sidebar-link" role="button"
                 aria-expanded="false">
                <fa-icon [icon]="faPublicaciones" class="fa-fw me-sm-3"></fa-icon>
                <span class="d-none d-sm-inline">Mis Publicaciones</span>
              </a>

            </li>

            <li class="nav-item mb-2 w-100">
              <a class="nav-link d-inline-flex px-0 align-items-center">
                <fa-icon [icon]="faNotificaciones" class="fa-fw me-sm-3"></fa-icon> <span
                class="d-none d-sm-inline">Notificaciones</span>
              </a>
            </li>

            <li class="nav-item mb-2 w-100">
              <a class="nav-link d-inline-flex align-items-center px-0">
                <fa-icon [icon]="faAyuda" class="fa-fw me-sm-3"></fa-icon><span
                class="text-align-center d-none d-sm-inline">Ayuda</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </ng-template>

    <div class="col py-0 dashboard-container px-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
