/* Chrome, Safari, Edge, Opera */
.price-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.price-input input[type="number"] {
  -moz-appearance: textfield;
}
