<footer class="footer">
  <div class="grupo-1">
    <div class="box">
      <h1>Nombre de la pagina</h1>
    </div>
    <div class="box">
      <h2>QUIENES SOMOS</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error nam
        porro ex facere saepe sunt aut, fuga unde officia iste fugit autem
        nostrum harum minima culpa deserunt impedit ipsam velit.
      </p>
    </div>
    <div class="box">
      <h2>Contáctanos</h2>
      <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
  </div>

  <div class="grupo-2">
    <small>&copy; 2021 <b>TITULO</b> - Todos los Derechos Reservados.</small>
  </div>
</footer>
