<ng-container *ngIf="accessory; else loading">
    <div class="container-fuild py-2 px-4 header">
        <a [routerLink]="['/dashboard/user/supplies']" class="d-block pt-2">
            <fa-icon [icon]="faArrowCircleLeft" class="return-icon"></fa-icon>
        </a>
        <nav class="navbar navbar-dark bg-light px-0 mt-4">
            <div class="container-fluid px-0">
                <h1 class="title fs-4"> {{this.accessory.nameAccessory}}</h1>
                <form class="d-flex">
                    <button class="btn btn-secondary btn-sm me-3">Cargar Fotos</button>
                    <button class="btn btn-secondary btn-sm me-3">Eliminar Servicio</button>
                    <button class="btn btn-primary btn-sm me-3">Editar Servicio</button>
                </form>
            </div>
            <div class="container-fluid px-0">
                <span></span>
                <!-- <label class="date-created d-none d-lg-block">
                    Creación <strong>{{ this.accessory.created_at.slice(0, 15)}}</strong>
                </label> -->
            </div>

        </nav>
    </div>


    <ul class="nav nav-tabs pt-5" id="myTab" role="tablist">
        <li class="nav-item ps-4" role="presentation">
            <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details"
                type="button" role="tab" aria-controls="details" aria-selected="true">Detalles</button>
        </li>
        <li class="nav-item ps-2" role="presentation">
            <button class="nav-link" id="clients-tab" data-bs-toggle="tab" data-bs-target="#clients" type="button"
                role="tab" aria-controls="clients" aria-selected="false">Clientes</button>
        </li>
    </ul>



    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
            <div class="container py-4">
                <div class="row">
                    <div class="col-3">
                        Carrusel de imágenes
                    </div>
                    <div class="col-9">
                        <p>{{this.accessory.descriptionAccessory}}</p>
                        <div class="row my-2">
                            <div class="col-12 col-lg-6">
                                <div class="d-flex pt-2">
                                    <fa-icon [icon]="faLayerGroup" class="detail-icon me-2 "></fa-icon>
                                    <div>
                                        <span class="icon-text-title">Categoría del Accesorio <br></span>
                                        <div class="flex-row">
                                            <span
                                                class="fw-600 icon-text">{{this.accessory.subcategory.nameCategory}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex pt-2">
                                    <fa-icon [icon]="faLayerGroup" class="detail-icon me-2 "></fa-icon>
                                    <div>
                                        <span class="icon-text-title">Color<br></span>
                                        <div class="flex-row">
                                            <span class="fw-600 icon-text">{{this.accessory.colorAccessory}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex pt-2">
                                    <fa-icon [icon]="faLayerGroup" class="detail-icon me-2 "></fa-icon>
                                    <div>
                                        <span class="icon-text-title">Precio<br></span>
                                        <div class="flex-row">
                                            <span class="fw-600 icon-text">{{this.accessory.priceAccesory}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">Clients</div>
    </div>


</ng-container>

<ng-template #loading>
    loading
</ng-template>